#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Configuration file 
#  author: guillaume.aubert@gmail.com
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# use the resources to get ENV Variables. Use of a special group ENV : %(ENV[HOME])
# use the resources to get CLI Values. Use fo a special group CLI: %(CLI[Longname] or CLI[--Longname] or CLI[-longname]

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Name : GroupTest1
#  Info : 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[GroupTest1]
astring=oracle.jdbc.driver.OracleDriver
# some comments
aint= 10
afloat=5.24
abool1  = true
abool2  = false
abool3  = yes
abool4  = no
abool5  = NO
aPath   = /tmp/foo/bar
fromenv = /mydir/%(ENV[TESTENV])
fromcli1 = %(CLI[--LongName]) is embedded
fromcli2 = %(CLI[LongName]) is embedded 2

[GroupTestBlocks]
block1=
   <?xml version="1.0" encoding="ISO-8859-1"?>
   <SampML xmlns="http://www.ctbto.org/SAMPML/0.5">
	  ${REMARK}
	  <SampleInformation UUID="${REFERENCEID}"> 
		  <StationInformation>
			  <StationLocation>${STATION_LOCATION}</StationLocation>
			  <StationCode>${STATION_CODE}</StationCode>
			  <CountryCode>${COUNTRY_CODE}</CountryCode>
			  <Coordinates>${COORDINATES}</Coordinates>  
		  </StationInformation>
		  <DetectorInformation>
			 <DetectorCode>${DET_CODE}</DetectorCode>
			 <DetectorDescription>${DET_DESCRIPTION}</DetectorDescription>
		  </DetectorInformation>
		  <SampleType>${SAMPLE_TYPE}</SampleType>
		  <MeasuredInformation>
              ${DATA}
		  </MeasuredInformation>
		  <Analyses>
		     ${AnalysisResults}
		  </Analyses>
		  <CalibrationInformation>
			${CALIBRATION}
		  </CalibrationInformation>
	  </SampleInformation>
    </SampML>

[GroupTestVars]
path   = /foo/bar/%(GroupTest1[aPath])/bar/foo
path1  = /foo/%(GroupTest1[aPath])/%(GroupTestVars[path])/bar
group  = done
done   = this is done
nested = %(GroupTestVars[%(GroupTestVars[group])])

%include %(ENV[DIRCONFENV])/foo.config

[GroupTestValueStruct]
list = ['a',1,3]
unicode_list = [ u'[Gmail]/Чаты', 'z', 1]
dict = {'a': 2, 'b': 3}
complex_dict = {'a' : 2, b: 3, c: {a:1,b:[1,2,3,4,5,6,7],c: [1,2,3]} }
dict_error = {1:2,'v b': a
list_error = [1 @,3,4]


